

.product-title {
  font-size: 25px;
  font-weight: bold;
  color: #0073e6;
  margin-bottom: 5px;
}

.product-description {
  font-size: 17px;
  color: #666;
  line-height: 1.4;
}

/* Center image styling */
.center-image img {
  width: 100%;
  max-width: 750px;
  height: auto;
  padding-top: 35px;
}

/* Responsive padding adjustments */
.content-section {
  padding: 20px;
}
.product-title{
    padding-top: 135px;
}

.navbar-custom {
    background-color: #007bff;
}
.navbar-custom .navbar-brand {
    color: white;
    font-weight: bold;
}
.navbar-custom .nav-link {
    color: white;
}
.navbar-custom .nav-link.active {
    background-color: #ccc;
    color: black;
}
.section2{
  width: 100%;
}